*{
	margin:0;
	padding:0;
	border:0;
	box-sizing:border-box;
  outline:none;
}

body{
	/* background-color: #f5cc00; */
	color:white;
	display:flex;
	justify-content: center;
	font-family: Verdana,sans-serif;
}

#logo{
	text-align: center;
	width:150px;
}

.container{
	width:1000px;
	margin:0px auto;
}

header{
	border-bottom:1px solid black;
	
}

header {
	display: flex;
	justify-content: space-between;
	color:white;
}

a{
	text-decoration: none;
	color: white;
}

header ul{
	width:700px;
	display: flex;
	justify-content: space-between;
}

header ul li {
	display:inline-block;
	
}

.wrapper{
	width: 1200px;
	padding: 20px;
	border: 1px solid black;
	border-radius: 25px;
	margin: 20px;
	background-color: #6c757d;
}
#body{
	display: flex;
	height: 700px;
	
}

#sidebar{
	flex-grow: 1;
}

#content{
	flex-grow: 3;
	margin-top: 10px;
}

#menu{
	display: flex;
	flex-direction:column;
}

#menu div{
	border:1px solid black;
	width:150px;
	/* color:black; */
}
.image
{
	float: left;
}
.content1{
	/* position:absolute;
	top:50px;
	left:50px; */
}

footer{
	border-top:1px solid black;
	text-align: center;
}
